 body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button[type="submit"] {
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 32px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  /* 첫번째 열 숨김 ( id )  */
  #map-info-table th:first-child,
  #map-info-table td:first-child {
    display: none;
  }